<div class="container">
    <h2>Chi Tiết Khoa Hoc</h2>
    <table class="table">
        <tr>
            <th>ID</th>
            <th>Course Name</th>
            
        </tr>
        <tr >
            <td>{{courses1.courseid}}</td>
            <td>{{courses1.coursename}}</td>
        </tr>
    </table>
    <h4> Danh sach sinh vien cua khoa hoc</h4>
    <ul class="list-group">
    <li class="list-group-item list-group-item-success" ng-repeat="student in courses2">
    {{student.studentName}}
    </li>
    </ul>
</div>